
    <div class=" card  h-100%  w-15rem " style="background-color: rgb(39, 39, 92);" id="sidebar"  >
         <div class="image">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/075/444/small/the-logo-of-home-housing-residents-real-estate-with-a-concept-that-presents-rural-nature-with-a-touch-of-leaves-and-sunflowers-vector.jpg" alt="">
         </div>
         <h2 class="m-6" style="color: white;">Dashboard</h2>

     <div class="list ">
        <ul>
           <ul >
         <li ><a routerLink="/dashboard/contact" ><i></i> <span>Home</span></a></li><br><br>
         <li><a routerLink="/table" ><i></i> <span>table</span></a></li><br><br>
         <li><a routerLink="/about" ><i></i> <span>About</span></a></li><br><br>
         <li><a routerLink="/contect" ><i></i> <span>Contact</span></a></li><br><br>
         <li><a routerLink="/address" ><i></i> <span>address</span></a></li><br><br>
       </ul>
         </ul>
     </div>
        <div>
       <button type="button" pButton class="p-button-outlined p-2 m-3" id="logout" (click)="authservice1.SignOut()">Log out</button>

        </div>
    </div>
    
